@{
    ViewData["Title"] = "Home Page";
    //var saludo = "TRIBU 54";
    //var fecha = DateTime.Now;

}
<h1>@ViewBag.saludo</h1>
<h2>hoy es: @ViewBag.fecha </h2>
<h4>el cambio de 54 dolares a euros es: @ViewBag.cambio</h4>

<div class="text-center">
    
    <h1 class="display-4">Welcome</h1>
    <h2>HolaMundo</h2>
    @*<h3>@ViewBag.eje8</h3>*@
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
